@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');

// Variables
$font-color: #fff;
$fonts: 'Poppins', Arial, Helvetica, sans-serif;

@import './base.scss';

html,
body,
#app {
	height: 100%;
}

#app {
	display: flex;
	background: rgb(253, 93, 65);
	background: linear-gradient(
		0deg,
		rgba(253, 93, 65, 1) 0%,
		rgba(253, 156, 65, 1) 100%
	);
}

.button-rounded {
	width: 7rem;
	height: 7rem;
	padding: 0;
	position: relative;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.2);

	.icon-button {
		fill: #fff;
		margin: auto;
		opacity: 1;
		stroke: #fff;
		width: 2rem;
	}
}

.clock-frame {
	display: flex;
	flex-direction: column;
	margin: auto;
	width: 30rem;
	font-weight: bold;

	.task {
		text-align: center;

		input[type='text'] {
			font-family: inherit;
			color: inherit;
			font-weight: bold;
			font-size: 2.4rem;
			text-align: center;
			border: 0;
		}
	}

	.digits {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 9rem;

		.minutes,
		.seconds {
			width: 40%;
			text-align: center;
		}

		.separator {
			text-align: center;
			width: 20%;
		}
	}

	.controls {
		display: flex;
		justify-content: space-between;
	}
}
